.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-bar {
  background: rgb(245, 248, 250);
  font-size: 0.9rem;
  color: rgb(51, 71, 91);
  align-items: center;
}





.search-container {
  position:relative;
  display:inline-block;
  width:100%;
  margin: auto;
 }

 .search-input {
  border-radius:1.25rem;
  border: 1px solid #ccc!important;
  height:40px;
  width:100%;
  box-shadow:none;
  padding:8px 144px 8px 54px;
  font-weight:300;
  background-color:#fff;
  color:rgba(0,0,0,.75);
  opacity: 0.75;
  color: #7e8fa5;
  font-family: "sofia-pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
 }

 .search-icon {
  position:absolute;
  top:-2px;
  left:12px;
  color: #7e8fa5;
  font-size:24px;
  pointer-events:none
 }

 .search-close-icon {
  position:absolute;
  top:-2px;
  right:12px;
  color: #7e8fa5;
  font-size:24px;
  pointer-events:none
 }


 .search-input:focus{
  outline: none !important;
  border: 2px solid rgb(0, 204, 136)!important;
  border-radius: 16px;
  font-family: "sofia-pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}

.card-layout {
  outline: none !important;
  border: 2px solid rgb(0, 204, 136)!important;
  border-radius: 16px;
  width: 18rem;
  padding: 5px;
  margin: 10px;
  background-color: rgb(245, 248, 250);
}

.summary{
  width: 100%;
  outline: none !important;
  /*border: 3px solid rgb(0, 204, 136)!important;*/
  border-radius: 16px;
  background-color: rgb(245, 248, 250)!important;
  margin: 20px 0 20px 0;
}

.bio{
  margin: auto 0 auto 0;
}

.add-to-favorite {
  border: 2px solid rgb(0, 204, 136)!important;
  border-radius: 16px;
  color: #7e8fa5!important;
  font-family: "sofia-pro"!important;
}

.add-to-favorite:hover {
  background-color: #ddffff !important;
}

.remove-favorite {
  border: 2px solid rgb(0, 204, 136)!important;
  border-radius: 16px;
  color: #7e8fa5!important;
  background-color: #ddffff !important;
  font-family: "sofia-pro"!important;
}

.see-details {
  border: 2px solid rgb(0, 204, 136)!important;
  border-radius: 16px;
  color: rgb(255, 255, 255)!important;
  background-color: rgb(0, 204, 136);
  font-family: "sofia-pro"!important;
  padding: 6px;
}

.remove-favorite:hover {
  background-color: rgb(245, 248, 250)!important;
}
.see-details:hover {
  background-color: rgb(245, 248, 250)!important;
  color: rgb(0, 204, 136)!important;
}

.checked {
  color: orange;
}

.img-details {
  border-radius: 50%;
  height: 200px;
  float: left;
  margin: 20px;
}

.img-card {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.nav-text {
  color:rgb(119, 120, 135);
  text-decoration: none;
  font-family: "sofia-pro";
  font-size:18px;
}

.releases {
  width: 100%;
  outline: none !important;
  border: 3px solid rgb(0, 204, 136)!important;
  border-radius: 16px;
}

.sidebar {
  position: fixed;
  left: 0;  
  top: 40%;
  background: rgb(0, 204, 136);
  border-radius: 0px 50px 50px 0px;
  padding: 8px 25px;
}

.nav-side {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  left: 0;  
  top: 30%;
  background-color: rgb(245, 248, 250)!important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px
}

.favorite-list {
  list-style-type: none;
  list-style-position: inside;
}

.favorite-list-item {
  border-left: 6px solid #ccc !important;
  border: 2px;
  margin: 10px;
  padding-left: 5px;
  background-color: #ddffff !important;
  font-size: 18px;
  height: 30px;
  border: 3px solid rgb(0, 204, 136)!important;
  border-radius: 16px;
  color: #7e8fa5!important;
}

.loader{
  margin: 40%;
  height: 1000px;
}

.no-result{
  margin: 20%;
  height: 1000px;
  color: #7e8fa5!important;
  font-size: 36px;
}

.total {
  color: #7e8fa5!important;
  font-size: 18px;
  margin-left: auto;
}